*{
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    padding: 20px;
    background-color: #E3BFDC;
    gap: 10px;
}

#pictlogo{
    height: 80px;
    width: 80px;
}

.heading{
    font-size: 31px;
    text-align: center;
}

.container{
    display: flex;
    flex-flow: row;
    width: 100%;
}

.flexcolumn{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.img{
    height: 190px;
    width: 95%;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.loginbox{
    font-size: 17px;
    gap: 10px;
    width: 70%;
    height: auto;
    padding: 10px;
    background-color: #E3BFDC;
}

.login{
    font-size: 20px;
    font-weight: 800;
    text-align: left;
}

button{
    height: 23px;
    width: 60px;
}

input{
    width: 100%;
}